In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('homeprices_2.csv')

In [3]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
df.bedrooms.median()

4.0

In [7]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())

In [8]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
x = df.drop('price', axis = 1) 
# axis 0 = row and axis 1 = column
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [10]:
y = df.price

In [11]:
y

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [13]:
reg = linear_model.LinearRegression()

In [14]:
reg

LinearRegression()

In [15]:
reg.fit(x, y)

LinearRegression()

In [16]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [17]:
reg.intercept_

221323.00186540408

In [19]:
reg.predict([[3000, 3, 40], [2500, 4, 5]])

array([498408.25158031, 578876.03748933])

In [22]:
area = int(input('Enter the area : '))
bd = int(input('Enter the number of bedrooms : '))
age = int(input('Enter the age of the house : '))

Enter the area : 2600
Enter the number of bedrooms : 3
Enter the age of the house : 20

reg.predict([[area, bd, age]])

In [23]:
reg.predict([[area, bd, age]])

array([518217.63297611])